# ecommerce-ts/docker/docker-compose.rabbitmq.yml
# http://192.168.1.8:15672


services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: ecommerce-rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - ecommerce-net

volumes:
  rabbitmq_data:

networks:
  ecommerce-net:
    external: true